footer.footer
	.footer__icons 
		a(href="https://vk.com/hochland").footer__icon 
			img(src="images/footer/vk.svg", alt="alt")
		a(href="https://t.me/hochland_russia").footer__icon 
			img(src="images/footer/tg.svg", alt="alt")
		a(href="https://hochland.ru/products/grunlander/").footer__icon 
			img(src="images/footer/site.svg", alt="alt")
	.footer__copyright Grünländer, 2023 