.hero
	.hero__bg.desk
		img(src="images/hero/hero-bg-desk.png", alt="alt")
	.hero__bg.mob
		img(src="images/hero/hero-bg-mob.png", alt="alt")
	.hero__container 
		.hero__leafs-full-width 
		.hero__body 
			.hero__title 
				span ВКУСНО, 
					br
					|КОГДА ЕСТЕСТВЕННО
			.hero__text 
				|Устали от пресного правильного питания? Мы покажем, что натуральные продукты могут быть еще и очень вкусными. А, добавив дополнительный ингредиент - локацию, можно создать особые моменты!
			.hero__btn 
				img(src="images/hero/arrow.svg", alt="alt")
				span Листайте ниже и создавайте особые моменты для себя и своих близких!
		.hero__img 
			img(src="images/hero/hero.png", alt="alt")