.footer {
	margin-top: -200px;
	position: relative;
	z-index: 10;
	padding: 250px 0 50px;
	background: url('../images/footer/footer.png') 0 0 / 100% 100% no-repeat;
	@media (max-width: 1440px){
		padding: 13.02vw 0 2.60vw;
		margin-top: -13.89vw;
	}
	@media (max-width: 768px){
		background: url('../images/footer/footer.png') center / cover no-repeat;
		padding: 24.17vw 0 3.33vw;
	}
	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon {
		width: 50px;
		height: 50px;
		margin: 0 14px;
		@media (max-width: 1440px){
			width: 2.60vw;
			height: 2.60vw;
			margin: 0 0.73vw;
		}
		@media (max-width: 768px){
			width: 4.44vw;
			height: 4.44vw;
			margin: 0 1.39vw;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&__copyright {
		font-family: 'Circe';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 118.4%;
		text-align: center;
		color: #FFFFFF;
		margin-top: 45px;
		@media (max-width: 1440px){
			font-size: 0.94vw;
			margin-top: 2.34vw;
		}
		@media (max-width: 768px){
			font-size: 1.67vw;
			margin-top: 4.17vw;
		}
	}
}